<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.cadena" connectionString="Data Source=proyectocmm-server.database.windows.net;Initial Catalog=proyectocmm-db;User ID=administrador;Password=contraseña00-"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>