<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>




  <connectionStrings>
    <!--Área para la definicio de las conexiones a la base de datos-->


    <add  name="WIN_AUT"
               providerName="System.Data.SqlClient"
               connectionString= "Data Source=DESKTOP-6BRVLJ4; 
                               Initial Catalog=INNOVATEC; 
                               Integrated Security=True;"  />

    <add  name="SQL_AUT"
          providerName="System.Data.SqlClient"
          connectionString= "Data Source=DESKTOP-6BRVLJ4; 
                               Initial Catalog=INNOVATEC; 
                               Integrated Security=True;
                               User Id=sa;
                               Password=12345;"  />

  </connectionStrings>











</configuration>